{% extends "layouts/base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
	{% block head %}
	<head>
		<meta charset="utf-8">
		<title>Mousso</title>
		<link rel="shortcut icon" href="{% static 'themes/images/panier.jpg' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">      
		<link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
		
		<link href="{% static 'themes/css/bootstrappage.css' %}" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="{% static 'themes/css/flexslider.css' %}" rel="stylesheet"/>
		<link href="{% static 'themes/css/main.css' %}" rel="stylesheet"/>

		<!-- scripts -->
		<script src="{% static 'themes/js/jquery-1.7.2.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>				
		<script src="{% static 'themes/js/superfish.js' %}"></script>	
		<script src="{% static 'themes/js/jquery.scrolltotop.js' %}"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	{% endblock head %}
	{% block body %}
    <body>		
		{% include "layouts/navbar.html" %}
			<section class="header_text">
				<p style="text-align:justify; text-align: center; color: rgb(255, 255, 255);">Inscrivez vous pour bénéficier des produits de notre boutique et des reductions</p>
			</section >
			<section class="main-content">
				<div class="row">
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">MOUSSO<strong> CHAP CHAP</strong></span></span></span>
									{% if message %}
									  <p style="color: rgb(192, 1, 1);">{{message}}</p>
									{% endif %}
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">	
												{% for produit in produits %}											
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="{% url 'details' produit.slug %}"><img src="{{produit.image1.url}}" alt="" style="border-radius: 7px; max-width: 300px; max-height:220px;" /></a></p>
														<a href="{% url 'details' produit.slug  %}" class="title">{{produit.ville}} : {{produit.commune}}</a><br/>
														<a href="{% url 'details' produit.slug  %}" class="category">Age: {{produit.age}} ans </a>
														<p class="price"><a style="font-weight: bold; color:green;">{{produit.prix}}</a> <samp>fr cfa</samp></p>
													</div>
												</li>
												{% endfor %}
											</ul>
										</div>										
									</div>							
								</div>
							</div>						
						</div>
						<br/>
						<!--<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="#"><img src="{% static 'themes/images/cloth/bootstrap-women-ware2.jpg' %}" alt="" /></a></p>
														<a href="#" class="title">Ut wisi enim ad</a><br/>
														<a href="#" class="category">Commodo consequat</a>
														<p class="price">$25.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#"><img src="{% static 'themes/images/cloth/bootstrap-women-ware1.jpg' %}" alt="" /></a></p>
														<a href="#" class="title">Quis nostrud exerci tation</a><br/>
														<a href="#" class="category">Quis nostrud</a>
														<p class="price">$17.55</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#"><img src="{% static 'themes/images/cloth/bootstrap-women-ware6.jpg' %}" alt="" /></a></p>
														<a href="#" class="title">Know exactly turned</a><br/>
														<a href="#" class="category">Quis nostrud</a>
														<p class="price">$25.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#"><img src="{% static 'themes/images/cloth/bootstrap-women-ware5.jpg' %}" alt="" /></a></p>
														<a href="#" class="title">You think fast</a><br/>
														<a href="#" class="category">World once</a>
														<p class="price">$25.60</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="#"><img src="{% static 'themes/images/cloth/bootstrap-women-ware4.jpg' %}" alt="" /></a></p>
														<a href="#" class="title">Know exactly</a><br/>
														<a href="#" class="category">Quis nostrud</a>
														<p class="price">$45.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#"><img src="{% static 'themes/images/cloth/bootstrap-women-ware3.jpg' %}" alt="" /></a></p>
														<a href="#" class="title">Ut wisi enim ad</a><br/>
														<a href="#" class="category">Commodo consequat</a>
														<p class="price">$33.50</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#"><img src="{% static 'themes/images/cloth/bootstrap-women-ware2.jpg' %}" alt="" /></a></p>
														<a href="#" class="title">You think water</a><br/>
														<a href="#" class="category">World once</a>
														<p class="price">$45.30</p>
													</div>
												</li>
												<li class="span3">
													<div class="product-box">
														<p><a href="#"><img src="{% static 'themes/images/cloth/bootstrap-women-ware1.jpg' %}" alt="" /></a></p>
														<a href="#" class="title">Quis nostrud exerci</a><br/>
														<a href="#" class="category">Quis nostrud</a>
														<p class="price">$25.20</p>
													</div>
												</li>																																	
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>--
						<div class="row feature_box">						
							<div class="span4">
								<div class="service">
									<div class="responsive">	
										<img src="{% static 'themes/images/feature_img_2.png' %}" alt="" />
										<h4>REAMENAGEMENT <strong>IMMOBILIER</strong></h4>
										<p><strong>Peintre:</strong>  peinture, deco interieur et exterieur </p>
										<p><strong>Maçon:</strong> élargissement, modefication, construction </p>
										<p><strong>Menuisier , Plombier, Carréleur, ...</strong></p>		
									</div>
								</div>
							</div>
							<div class="span4">	
								<div class="service">
									<div class="customize">			
										<img src="{% static 'themes/images/feature_img_1.png' %}" alt="" />
										<h4>ACHAT <strong>LOCATION</strong> VENTE</h4>
										<p>Pour tous vos bésoins immobiliers contactez nous </p>
										<h3>+255 58343332</h3>
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="service">
									<div class="support">	
										<img src="{% static 'themes/images/feature_img_3.png' %}" alt="" />
										<h4><strong>OUVERTURE</strong> 8H-17H / 6 jours /7  </h4>
										<p> ouverture de 8 heures à 17 heures . Du lundi au samedi </p>
									</div>
								</div>
							</div>	
						</div> -->		
					</div>				
				</div>
			</section>
			{% include "layouts/footerd.html" %}
		</div>
		{% block js %} 
		<script src="{% static 'themes/js/common.js' %}"></script>
		<script src="{% static 'themes/js/jquery.flexslider-min.js' %}"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
		{% endblock js %}
	</body>
	{% endblock body %}
</html>