{% load static %}


<section class="our_client">
    <h4 class="title"><span class="text"></span></h4>
</section>
<!-- <section id="footer-bar">
    <div class="row">
        <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
                <li><a href="{% url 'index' %}">Accueil</a></li>  
                <li><a href="tel:+2250758343332">Appellez nous</a></li>
                							
            </ul>				
        </div>
        <div class="span4">
            <h4>Nos Comptes</h4>
            <ul class="nav">
                <li><a href="https://www.facebook.com/Alpha-Immobilier-102446181713424/" target="blank">facebook</a></li>
                <li><a href="https://twitter.com/AlphaImmobilie2?s=09" target="blank">twitter</a></li>
                <li style="color: white;">alphaimmobilier21@gmail.com</li>
            </ul>
        </div>
        <div class="span5">
            <h4>A propos de nous</h4>
            <!--<p class="logo"><img src="{% static 'themes/images/logo.jpg' %}" class="site_logo" alt=""></p> --
            <p style="color: white;" id="info">L’agence Alpha Immobilier,vous accompagne dans toutes vos démarches d’estimation, de vente, de location et d’acquisition. Depuis sa création l’agence Alpha Immobilier a développé son réseau et sa réputation grâce à la relation privilégiée que nous entretenons avec nos clients dans la construction de leur projet de vie. Affinez l’évaluation de votre bien immobilier.
                <br> Nous sommes présents partouts en Côte d'Ivoire .
                En étroite collaboration avec les acteurs locaux tel que les mairies, les aménageurs fonciers et les constructeurs nous vous donnons toutes les clés pour la réalisation de votre projet en toute sérénité.
            </p>
            <br/>
        </div>					
    </div>	
</section> -->
<section id="copyright" style="text-align: center;">
    <span>Tous les droits reserves &copy; Ampoule Rouge.</span>
</section>