{% load static %}

<!-- <section class="our_client">
    <h4 class="title"><span class="text">LES VRAIS MOUSSO DE COTE D'IVOIRE</span></h4>
    <div class="row">
        {% for part in partenaires %}					
        <div class="span2">
            <a><img alt="" src="{{part.logoPart.url}}"></a>
            <a><h4 style="color: rgb(197, 0, 0);">{{part.nomPart}}</h4></a>
        </div>
        {% endfor %}
    </div>
</section> -->
<!-- <section id="footer-bar">
    <div class="row">
        <div class="span3">
            <h4>Navigation</h4>
            <ul class="nav">
                <li><a href="{% url 'index' %}">Accueil</a></li>  
                <li><a href="{% url 'index' %}">A propos de nous</a></li>
                <li><a href="tel:+2250758343332">Appellez nous</a></li>
                							
            </ul>					
        </div>
        <div class="span4">
            <h4>Nos Comptes</h4>
            <ul class="nav">
                <li><a href="https://www.facebook.com/Alpha-Immobilier-102446181713424/" target="blank">facebook</a></li>
                <li><a href="https://twitter.com/AlphaImmobilie2?s=09" target="blank">twitter</a></li>
                <li style="color: white;">alphaimmobilier21@gmail.com</li>
            </ul>
        </div>
        <div class="span5">
            <!--<p class="logo"><img src="{% static 'themes/images/logojpg' %}" class="site_logo" alt=""></p>--
            <p style="text-align: justify; color:white;"> 
                Nous sommes présents partouts en Côte d'Ivoire .
                En étroite collaboration avec les acteurs locaux tel que les mairies, les aménageurs fonciers et les constructeurs. Nous vous donnons toutes les clés pour la réalisation de votre projet en toute sérénité.
            </p>
            <br/>
        </div>					
    </div>	
</section> -->
<section id="copyright">
    <span>Tous les droits reserves &copy; Alpha Immobilier..</span>
</section>