{% load static %}

<div id="top-bar" class="container" style="background-color: black;">
    <div class="row">
        {% include 'layouts/rechercheform.html' %}
        <!-- <div class="span8">
            <div class="account pull-right">
                <ul class="user-menu">				
                    <li><a href="tel:+2250758343332" style="background-color: white;">+225 0758343332</a></li>
                    
                    <li><a style="background-color: white;">Univers de l'Immobiliers en Côte d'Ivoire</a></li>
                </ul>
            </div>
        </div> -->
    </div>
</div>		
<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">				
            <!-- <a href="{% url 'index' %}" class="logo pull-left"><img src="{% static 'themes/images/logo.png' %}" class="site_logo" alt=""></a> -->
            <nav id="menu" class="pull-right">
                <ul>
                    <!-- <li><a href="#info">A propos de nous</a></li> -->
                    <li><a href="{% url 'registerPage' %}">CREER UN COMPTE</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}"> DECONNEXION</a></li>
                    <li><a href="{% url 'boutique' %}">VOTRE BOUTIQUE PRIVEE</a></li>
                    {% else %}
                    <li><a href="{% url 'loginPage' %}"> SE CONNECTER</a></li>
                    {% endif %}
                    <!-- <li><a href="{% url 'ajoutimmoPage' %}">AJOUTER UN PRODUIT</a></li> -->
                    <li style="background-color: rgb(168, 0, 0);"><a href="{% url 'index' %}" style="color:white;">La maison des femmes en Côte d'Ivoire</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="header_text sub">
        <img class="pageBanner" src="{% static 'themes/images/carousel/banner1.jpg' %}" alt="New products" >
    </section>
    <!-- <section  class="homepage-slider" id="home-slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="{% static 'themes/images/carousel/banner1.jpg' %}" alt="banner1" />
                </li>
                <li>
                        {% for pubAcc in pubAccs %}
                            <img src="{{pubAcc.pub1.url}}" alt="banner2" style="max-width: 960; max-height: 200px;"/>
                            <div class="intro">
                                <a href="{{pubAcc.lien}}">
                                    <h1>{{pubAcc.nonEntrep}}</h1>
                                    <p><span>{{pubAcc.messag1}}</span></p>
                                    <p><span>{{pubAcc.messag2}}</span></p>
                                </a>
                            </div>
                        {% endfor %}
                                            
                </li>
            </ul>
        </div>			
    </section> -->

    